# Unity generated folders in Pong subfolder
Pong/[Ll]ibrary/
Pong/[Tt]emp/
Pong/[Oo]bj/
Pong/[Bb]uild/
Pong/[Bb]uilds/
Pong/[Ll]ogs/
Pong/[Uu]ser[Ss]ettings/
Pong/[Mm]emoryCaptures/
Pong/[Rr]ecordings/

# Unity files
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.log
*.blend1
*.blend1.meta

# OS files
.DS_Store
Thumbs.db

# Visual Studio cache
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Builds
*.apk
*.aab
*.unitypackage
*.app